@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:hidden;
}

.container{
    width:100%;
}

.headerHero{
    background-image: url(./images/heroback.png);
    background-repeat:no-repeat;
    background-size:cover;
}

nav ul{
    display:flex;
    gap:2rem;
}

li{
    list-style:none;
    color:white;
    font-family:Montserrat;
}

header{
    display:flex;
    justify-content:space-between;
    width:90%;
    margin:auto;
    padding-top: 2rem;
    align-items:center;
}

.btn button{
    background:rgba(27,199,104,1);
    font-family:Montserrat;
    font-size:16px;
    font-weight:500;
    line-height:21.86px;
    border:none;
    padding:.5rem 1.5rem;
    border-radius:50px;
    cursor:pointer;
    color:white;
}

.hero{
    display:flex;
    justify-content:space-between;
    width:90%;
    margin:auto
}


.heroText h2{
    font-family:Montserrat;
    font-size: 40px;
    font-weight: 900;
    line-height: 65.57px;
    color:white;
}

.heroText p{
    font-family:Montserrat;
    font-size:16px;
    font-weight:400;
    line-height:24.59px;
    color:white;
    padding:.5rem 0;
}

.heroImage img{
    width:100%;
    margin-top:6rem;
}

.heroText{
    width:40%;
    margin-top:8rem;
}

.heroImage{
    width:40%;
}

.heroBtn button{
    font-family:Montserrat;
    font-size:16px;
    border:1px solid white;
    padding:.5rem 1.5rem;
    border-radius:50px;
    cursor:pointer;
    background:none;
    color:white;
    margin-right: 1.1rem;
}
 
.heroBtn button:hover{
    background:white;
    color:blue;
}

.heroBtn{
    margin-bottom:2rem;
}

.heroForm{
    width:100%;
}

.heroForm Input{
    width:70%;
    padding:.7rem;
    border:none;
    border-radius:50px 0px 0px 50px;
}

.heroForm button{
    width:20%;
    padding:.7rem;
    background:#1BC786;
    color:white;
    cursor:pointer;
    border:#1BC786;
    margin-left:-.3rem;
    border-radius:0px 50px 50px 0px;
}

.innerContainer{
    width:80%;
    margin:auto;
}

.affiliation{
    margin-top:3rem;
}

.topAffiliate h2{
    font-family:Montserrat;
    font-size:36px;
    height: 49.18px;
    color:rgba(4, 60, 170, 1);
}

.lines{
    display:flex;
    width:10%;
    margin:auto
}

.blue{
    width:45.5px;
    border:2px solid rgba(4, 60, 170, 1);
    border-radius:50px 0 0 50px;
}

.green{
    width:45.5px;
    border:2px solid rgba(27, 199, 104, 1);
    border-radius:0 50px 50px 0;
}

.affiliateImages{
    display:flex;
    gap:5rem;
    width:40%;
    margin:auto;
    margin-top:3rem;
    margin-bottom:3rem;
}

.juhel img{
    width:100%;
}

.emzor img{
    width:100%;
}

.gsk img{
    width:100%;
}

.affiliation{
    text-align:center;
    margin-top:3rem;
}

.topAffiliate h2{
    font-family:Montserrat;
    font-size:36px;
    font-weight:900;
    height: 49.18px;
    color:rgba(4, 60, 170, 1);
}

.topBenefits h2{
    font-family:Montserrat;
    font-size:36px;
    font-weight:900;
    height: 49.18px;
    color:rgba(4, 60, 170, 1);
    text-align:center;
}

.medicine{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.medicineImage img{
    width:100%;
}

.medicineText h5{
    font-family:Montserrat;
    font-size: 24px;
    line-height: 32.78px;
    text-align: left;
    color: rgba(4, 60, 170, 1);
    width:60%;
    padding-bottom: 1rem;
}

.option{
    display:flex;
    align-items:center;
    gap:.7rem;
    margin-top:1rem;
}

.optionText p{
    font-family:Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
    
}

.medicineText button{
font-family:Montserrat;
font-size: 18px;
font-weight: 500;
color:rgba(27, 199, 104, 1);
padding:.7rem 2rem;
border:1px solid rgba(27, 199, 104, 1);
margin-top:2rem;
background:transparent;
border-radius:50px;
cursor:pointer;
}

.medicineText button:hover{
    background:rgba(27, 199, 104, 1);
    color:white;
}

.doorstep{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.doorstepText h5{
    font-family:Montserrat;
    font-size:24px;
    line-height:32.78px;
    color: rgba(4, 60, 170, 1);
    padding-bottom: 1rem;
    width:60%;
}

.doorText p{
    font-family:Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
}

.doorstepImage img{
    width:80%;
}

.doorstep button{
font-family:Montserrat;
font-size: 18px;
font-weight: 500;
color:rgba(27, 199, 104, 1);
padding:.7rem 2rem;
border:1px solid rgba(27, 199, 104, 1);
margin-top:2rem;
background:transparent;
border-radius:50px;
cursor:pointer;
}

.doorstep button:hover{
    background:rgba(27, 199, 104, 1);
    color:white;
}

.doorstep{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.doorstepText h5{
    font-family:Montserrat;
    font-size:24px;
    line-height:32.78px;
    color: rgba(4, 60, 170, 1);
    padding-bottom: 1rem;
    width:60%;
}

.door{
    display:flex;
    align-items:center;
    gap:.7rem;
    margin-top:1rem;
}

.profileText button{
    font-family:Montserrat;
    font-size: 18px;
    font-weight: 500;
    color:rgba(27, 199, 104, 1);
    padding:.7rem 2rem;
    border:1px solid rgba(27, 199, 104, 1);
    margin-top:2rem;
    background:transparent;
    border-radius:50px;
    cursor:pointer;
    }

.profile{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
}

.profileText h5{
    font-family:Montserrat;
    font-size: 24px;
    line-height: 32.78px;
    text-align: left;
    color: rgba(4, 60, 170, 1);
    width:60%;
    padding-bottom: 1rem;
}

.refill{
    display:flex;
    align-items:center;
    gap:.7rem;
    margin-top:1rem;
}

.refillImage img{
    width:110%;
}

.refillText p{
    font-family:Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
}


.profileText button:hover{
    background:rgba(27, 199, 104, 1);
    color:white;
}

.clients{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:90%;
    padding-top:4rem;
    padding-bottom:4rem;
}

.line{
    display:flex;
    width:40%;
    margin:auto
}

.clientText h2{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 49.18px;
    margin-bottom:.4rem;
}

.clientText p{
font-family: Montserrat;
font-size: 18px;
line-height: 32.4px;
padding:1rem 0;
width:90%;
color: rgba(122, 122, 122, 1);
}

.clientText h5{
font-family:Montserrat;
font-size: 18px;
line-height: 32.4px;
color: rgba(4, 60, 170, 1);
margin-bottom:2rem;
font-weight:500;
}

.clientImage img{
    width:100%;
}

.clientImage{
    width:50%;
}

.clientText{
    width:40%;
}

footer{
    background:rgba(4, 60, 170, 1);

}

.footContainer{
    width:80%;
    margin:auto;
    padding-top:4rem;
    padding-bottom:1rem;
}

.signUp{
    display:flex;
    justify-content:space-between;
}

.signUpText h3{
font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 32.78px;
color:white;
padding-bottom:1rem;
}

.signUpText p{
font-family: Montserrat;
font-size: 18px;
font-weight: 200;
line-height: 24.59px;
color:white;
}

.signUpInput input{
    padding:.7rem;
    border:none;
    border-radius:50px 0 0px 50px;
    width:65%;
    margin-top:1rem;
}

.signUpInput button{
    padding:.7rem;
    padding-top:0.64rem;
    background:rgba(27, 199, 104, 1);
    color:white;
    cursor:pointer;
    border:rgba(27, 199, 104, 1);
    margin-left:-.3rem;
    border-radius:0px 50px 50px 0px;
    width:30%;
    font-family:Montserrat;
}

.signUpText{
    width:40%;
}

.signUpInput{
    width:40%;
}

.signUpInput label{
    font-family:Montserrat;
    color:white;
    font-size:18px;
    font-weight:400;
}

.footContact{
    display:flex;
    margin-top:5rem;
}

.serviceSide{
    display:flex;
    align-items:center;
    gap:4rem;
    width:100%;
}

.logoSide{
    width:70%;
}

.logoSide p{
    font-family:Montserrat;
    font-size:16px;
    font-weight:400;
    line-height:24.59px;
    color:white;
    width:50%
}   

.serviceSide h4{
    font-family:Montserrat;
    font-size:18px;
    font-weight:600;
    line-height:32.78px;
    color:white;
    padding-bottom:1rem;
}

.serviceSide li{
    font-family:Montserrat;
    font-size:16px;
    font-weight:400;
    line-height:32.78px;
    color:white;
    padding-bottom:0.7rem;
}

.copyright{
    font-family:Montserrat;
    font-size:14px;
    font-weight:400;
    line-height:37.78px;
    color:white;
    padding-top:2rem;
    text-align:center;
}

@media screen and (max-width:1024px){
    .heroText h2{
        font-size: 35px;
        font-weight: 400;
        line-height: 65.57px;
    }
    
    .heroText p{
        font-size:16px;
        font-weight:400;
        line-height:24.59px;
        padding:.5rem 0;
    }

    .heroText{
        width:50%;
        margin-top:8rem;
    }

    .affiliateImages{
        width:60%;
    }
    
    .optionText p{
        font-size: 15px;
        font-weight: 400;
        line-height: 24.59px;
        text-align: left;
        width:100%;
    }
    
    .medicineText h5{
        width:70%;
    }

    .clientText h2{
        font-size:30px;
    }

    .signUpInput{
        width:50%
    }
    
    .serviceSide{
        gap:3rem;
    }

    .doorstepImage{
        width:75%;
    }

    .doorstepText h5{
        width:85%;
    }
    
    .doorText p{
        font-size: 15px;
        width:100%;
    }
    
    .refillText p{
        font-size:15px;
        width:100%;
    }
    
    .profileText{
        width:80%;
    }

    .serviceSide{
        width:100%;
    }
}

@media screen and (max-width:768px){
    nav{
        display:none;
    }

    .btn{
        display:none;
    }

    .heroText h2{
        font-size:30px;
        font-weight:600;
        line-height:45.57px;
    }

    .signUpInput input{
        border:none;
    }

    .signUpInput button{
        border:none;
        padding-top:.637rem;
    }

    .heroText p{
        font-size:14px;
        font-weight:400;
    }

    .heroText{
        width:60%;
        margin-top:6rem;
    }

    .heroForm Input{
        width:60%;
    }
    
    .heroImage img{
        width:115%;
    }

    .medicineText h5{
        width:85%;
        font-size:20px;
    }

    .optionText p{
        font-size:11px;
    }

    .medicineText button{
        font-size:14px;
        font-weight:400;
        padding:.7rem 1rem;
    }

    .doorstepText h5{
        width:85%;
        font-size:20px;
    }

    .doorstepText p{
        font-size:11px;
    }

    .doorstepText button{
        font-size:14px;
        font-weight:400;
        padding:.7rem 1rem;
    }

    .profileText h5{
        width:85%;
        font-size:20px;
    }

    .profile{
        padding-top:3rem;
    }

    .refillText p{
        font-size:11px;
    }

    .profileText button{
        font-size:14px;
        font-weight:400;
        padding:.7rem 1rem; 
    }

    .clientText h2{
        font-size: 23px;
        font-weight:500;
        line-height:39.18px;
    }

    .clientText h5{
        font-size:14px;
        font-weight:500;
    }
    
    .clientText p{
        font-size: 14px;
        line-height:25px;
        width:90%;
    }

    .blue{
        width:35px;
    }

    .green{
        width:35px;
    }

    .logoSide p{
        font-size:14px;
        width:60%;
    }
    
    .serviceSide h4{
        font-size:13px;
    }

    .serviceSide{
        gap:2rem;
    }

    .serviceSide li{
        font-size:14px;
    }

    .signUpText h3{
        font-size:18px;
        font-weight:600;
    }
    
    .signUpText p{
        font-size:14px; 
    }
}

@media screen and (max-width:425px){
    .hero{
        display:block;
        width:90%;
        margin:auto;
    }

    .heroText{
        width:100%;
        margin-top:5rem;
    }

    .heroImage{
        width:100%;
        margin-left:0rem;
    }

    .heroBtn button{
        margin-right: .4rem;
    }

    .heroForm button{
        width:25%;
    }

    .blue{
    width:45.5px;
    }

    .green{
    width:45.5px;
    }

    .affiliateImages{
    display:flex;
    gap:3rem;
    width:100%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:3rem;
    }

    .lines{
        display:flex;
        width:20%;
        margin:auto;
    }

    .topAffiliate h2{
        font-size:30px;
    }

    .topBenefits h2{
        font-size:30px;
    }

    .medicine{
        flex-direction:column;
        margin-top:2rem;
    }
    
    .medicineText h5{
        font-size: 20px;
        width:70%;
        padding-bottom: 1rem;
    }

    .option{
        width:100%;
    }

    .optionText p{
        font-size:13px;
        font-weight:400;
        line-height:18px;
        width:100%;
    }

    .clients{
       flex-direction:column;
    }
    
    .line{
        display:flex;
        width:40%;
        margin:auto
    }
    
    .clientText h2{
        font-family: Montserrat;
        font-size: 30px;
        line-height: 49.18px;
        margin-bottom:.4rem;
    }
    
    .clientText p{
    font-family: Montserrat;
    font-size: 14px;
    padding:1rem 0;
    width:90%;
    color: rgba(122, 122, 122, 1);
    }
    
    .clientText h5{
    font-family:Montserrat;
    font-size: 14px;
    margin-bottom:2rem;
    font-weight:500;
    }
    
    .clientImage img{
        width:100%;
    }
    
    .clientImage{
        width:100%;
    }
    
    .clientText{
        width:100%;
        margin-left:2rem;
        margin-top:1rem;
    }

    .signUp{
        flex-direction:column;
    }

    .signUpText{
        width:100%;
    }

    .signUpInput{
        width:100%;
    }

    .signUpInput button{
        width:35%;
    }

    .footContact{
        flex-direction:column;
    }

    .serviceSide{
        flex-direction:column;
    }

    .logoSide{
        width:100%;
    }

    .logoSide p{
        width:100%;
    }

    .doorstep{
        flex-direction:column-reverse;
        margin-top:2rem;
    }
    
    .doorstepText h5{
        font-size: 20px;
        width:70%;
        padding-bottom: 1rem;
    }

    .doorstepImage img{
        width:100%;
        padding-top:2rem;
    }

    .doorText p{
        font-size:13px;
        width:100%;
    }

    .profile{
        flex-direction:column;
        width:100%;
    }

    .profileText{
        width:100%;
    }
    
    .profileText h5{
        font-size: 20px;
        width:60%;
        padding-bottom: 1rem;
    }

    .refillText p{
        font-size:13px;
        width:100%;
    }

    .refillImage img{
        width:100%;
    }

    .signUpInput input{
        border:none;
    }

    .signUpInput button{
        border:none;
        padding-top:.612rem;
    }

    .serviceSide h4{
        font-size:13px;
    }

    .serviceSide{
        gap:1rem;
        width:100%;
        align-items: flex-start;
        flex-direction:column;
        margin-top:2rem;
    }

    .serviceSide li{
        font-size:14px;
    }
}

    @media screen and (max-width:375px){
        .hero{
            display:block;
            width:90%;
            margin:auto;
        }
    
        .heroText{
            width:100%;
            margin-top:5rem;
        }

        .heroText h2{
            width:100%;
            font-size:25px;
        }
    
        .heroImage{
            width:100%;
            margin-left:0rem;
        }

        .heroBtn button{
            margin-right: .4rem;
            font-size:13px;
            padding:0.5rem 1rem;
            margin-right:.5rem;
        }

        .heroForm Input{
            font-size:12.8px;
            height:100%;
        }
    
        .heroForm button{
            width:25%;
        }
    
        .blue{
        width:45.5px;
        }
    
        .green{
        width:45.5px;
        }
    
        .affiliateImages{
        display:flex;
        gap:3rem;
        width:100%;
        margin:auto;
        margin-top:2rem;
        margin-bottom:3rem;
        }
    
        .lines{
            display:flex;
            width:20%;
            margin:auto;
        }
    
        .topAffiliate h2{
            font-size:30px;
        }
    
        .topBenefits h2{
            font-size:30px;
        }
    
        .medicine{
            flex-direction:column;
            margin-top:2rem;
        }
        
        .medicineText h5{
            font-size: 20px;
            width:70%;
            padding-bottom: 1rem;
        }
    
        .option{
            width:100%;
        }
    
        .optionText p{
            font-size:13px;
            font-weight:400;
            line-height:18px;
            width:100%;
        }
    
        .clients{
           flex-direction:column;
        }
        
        .line{
            display:flex;
            width:40%;
            margin:auto
        }
        
        .clientText h2{
            font-family: Montserrat;
            font-size: 25px;
            line-height: 49.18px;
            margin-bottom:.4rem;
            font-weight:600;
        }
        
        .clientText p{
        font-family: Montserrat;
        font-size: 14px;
        padding:1rem 0;
        width:90%;
        color: rgba(122, 122, 122, 1);
        }
        
        .clientText h5{
        font-family:Montserrat;
        font-size: 14px;
        margin-bottom:2rem;
        font-weight:500;
        }
        
        .clientImage img{
            width:100%;
        }
        
        .clientImage{
            width:100%;
        }
        
        .clientText{
            width:100%;
            margin-left:2rem;
            margin-top:1rem;
        }
    
        .signUp{
            flex-direction:column;
        }
    
        .signUpText{
            width:100%;
        }
    
        .footContact{
            flex-direction:column;
        }
    
        .serviceSide{
            flex-direction:column;
        }
    
        .logoSide{
            width:100%;
        }
    
        .logoSide p{
            width:100%;
        }
    
        .doorstep{
            flex-direction:column-reverse;
            margin-top:2rem;
        }
        
        .doorstepText h5{
            font-size: 20px;
            width:70%;
            padding-bottom: 1rem;
        }
    
        .doorstepImage img{
            width:100%;
            padding-top:2rem;
        }
    
        .doorText p{
            font-size:13px;
            width:100%;
        }
    
        .profile{
            flex-direction:column;
            width:100%;
        }
    
        .profileText{
            width:100%;
        }
        
        .profileText h5{
            font-size: 20px;
            width:70%;
            padding-bottom:.4rem;
        }
    
        .refillText p{
            font-size:13px;
            width:100%;
        }
    
        .refillImage img{
            width:100%;
        }
    
        .signUpInput input{
            border:none;
        }
        .serviceSide h4{
            font-size:13px;
        }
    
        .serviceSide{
            gap:1rem;
            width:100%;
            align-items: flex-start;
            flex-direction:column;
            margin-top:2rem;
        }
    
        .serviceSide li{
            font-size:14px;
        }

        .signUpInput input{
            border:none;
            width:60%;
        }
    
        .signUpInput button{
            border:none;
            padding-top:.612rem;
            width:37%;
        }

        .signUpInput{
            padding-top:1rem;
        }
    }